@import "tailwindcss";


/* Start Logins Section */
.logins_parent {
    display: grid;
    justify-content: stretch;
    align-items: center;
    gap: 35px;
    padding: 30px 60px;
}

.logins_parent .content {
    display: grid;
    justify-content: stretch;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 50%;
    margin: auto;
}

.logins_parent .content h1 {
    color: #5A46E6;
}

.logins_parent .content h6 {
    color: #82808D;
    font-weight: 700;
}

.logins_parent .logins {
    display: grid;
    justify-content: stretch;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

/* End Logins Section */


/* Start Login Card Component */
.login_card {
    display: grid;
    justify-content: stretch;
    align-items: center;
    gap: 6px;
    padding: 15px;
    padding-left: 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    position: relative;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.login_card:hover {
    background-color: #5A46E6;
    border: 2px solid #fff;
}

.login_card h6:first-of-type {
    color: rgba(18, 18, 18, 1);
    font-weight: 700;
}

.login_card:hover h6:first-of-type {
    color: #fff;
}

.login_card h6:last-of-type {
    color: rgba(148, 163, 184, 1);
    font-weight: 600;
}

.login_card:hover h6:last-of-type {
    color: rgba(255, 255, 255, 0.75);
}

.login_card .login_image {
    background-image: url("../public/images/login.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}

.login_card:hover .login_image {
    background-image: url("../public/images/login_light.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
}


.login_card .login_shape {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../public/images/login_shape.svg");
    bottom: 0px;
    width:75px;
    height:75px;
    transition: all ease-in-out 0.3s;
}

body.ar .login_card .login_shape {
    left: 10px;
}

body.en .login_card .login_shape {
    right: 10px;
}

body.ar .login_card:hover .login_shape {
    background-image: url("../public/images/login_shape_light.svg");
    transform: rotate(15deg);
}

body.en .login_card:hover .login_shape {
    background-image: url("../public/images/login_shape_light.svg");
    transform: rotate(-45deg);
}

/* End Login Card Component */


/* Start Helps */
a{
    text-decoration: none;
}

h1 {
    font-size: 26px;
    font-weight: 700;
    line-height: 45px;
}

h5 {
    font-size: 18px;
    font-weight: 600;
}

h6 {
    font-size: 16px;
    font-weight: 500;
}

.btn {
    cursor: pointer;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, rgba(25, 210, 197, 1), rgba(90, 70, 230, 1));
    border-radius: 6px;
    color: #fff;
    transition: all ease-in-out 0.3s;
    font-family: "Cairo", sans-serif;
}

.btn:hover {
    background-image: linear-gradient(to left, rgba(25, 210, 197, 1), rgba(90, 70, 230, 1));
}

/* End Helps */